/* table of contents:

    1. document-wide styles. most wide reaching
    2. modal styles
    3. navbar styles
    4. mobile design styles

                                                    */

.container-fluid {
    max-width: 100%;
    overflow: hidden;
}


body, a {
    font-family: "Kumbh Sans";
    font-weight: 400;
    color: hsl(220, 13%, 13%);
}


/* styling relating to modal */

#modal-container, .modal-body {
    padding: 0;
}

.modal-content {
    background-color: transparent;
    border: none;
}

#modal-close-image {
    float: right;
    display: inline;
    color: white;
}

#modal-close {
    margin-bottom: 10px;
}

#lightbox-main-image {
    border-radius: 20px;
}

/* styling relating to navbar */

#visible-nav {
    border-bottom: 1px solid rgb(233, 233, 233);
}

#avatar-image {
    height: 50px;
}

#basket-icon-clickable {
    height: 20px !important;
    vertical-align: middle;
    margin-top: 10%;
    margin-right: 30%;
}

#basket-menu-container {
    height: 200px;
}

#basket-menu-panel {
    height: 90%;
    background-color: white;
    width: 90%;
    border-radius: 25px;
    
}

h2 {
    border-bottom: 1px solid rgb(233, 233, 233);
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    margin-bottom: 0;
}

#mobile-your-cart-is-empty {
    margin-bottom: 0;
    font-weight: 700;
    color: rgb(99, 100, 105);
}

div.collapse > ul > li {
    margin-right: 20px;
    color: hsl(223, 64%, 98%) !important;
}

@media all and (max-width: 356px) {
    #logo-image {
        width: 100%;
    }
}


/* mobile design styles */


@media all and (max-width: 769px) {
    #main-shoe-container {
        height: 200px;
        background-image: url(images/image-product-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -50px;
    }
}

@media all and (max-width: 768px) {
    #sneaker-company-p {
        font-size: 12px;
    }

    h1 {
       font-size: 30px;
    }
}

#checkout-from-cart {
    width: 100%;
    border-radius: 15px;
    height: 3em;
    border: none;
    font-weight: 700;
    background-color: hsl(26, 100%, 55%);
}

@media all and (min-width: 523px) {
    #checkout-from-cart {
        background-color: hsl(26, 100%, 55%);
        width: 75%;
        float: right;
        margin-top: -50px;
    }
}

@media all and (min-width: 647px) {
    #checkout-from-cart {
        background-color: hsl(26, 100%, 55%);
        width: 75%;
        float: right;
        margin-top: -70px;
    }
}





/* styling relating to first half of main content - image pictures on medium screens and above */

#main-shoe-container > img, .col-3 > a > img {
    border-radius: 20px;
}

/* styling relating to second half of main content */

#product-description-area {
    padding-top: 10%;
}

#product-description-area > .row > .col-11 > p:first-child {
    text-transform: uppercase;
}

h1, #price {
       font-weight: 700;
}

#price {
    font-size: 25px;
}

.price-was {
    text-decoration: line-through;
    font-weight: 700;
}

#add-to-cart-button {
    width: 100%;
    background-color: hsl(26, 100%, 55%);
}

#quantity-toggler {
    width: 100%;
    background-color: rgb(247, 248, 253);
    vertical-align: middle;
}

#add-to-cart-button, #quantity-toggler {
    border-radius: 15px;
    height: 3.5em;
    border: none;
    font-weight: 700;
    width: 100%;
}
#inline-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    max-height: 100%;
}

#centering {
    margin-top: 9%;
}

/* styling for product description section */

#price {
    max-width: 100%;
}


/* placeholder styling */


li {
    display: inline-block;
}

#unique-grey-background {
    background-color: rgb(31, 34, 41);
    text-align: center;
    border-radius: 15px;
}

#unique-grey-background > p {
    padding-top: 0.7em;
    color: white;
}

#lightbox_popup {
    margin-top: -1000px;
}